<settings>
  <servers>
    <server>
      <id>gitlab-maven</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>maven</name>
            <value>tj8XFVcdfG2RbE8aisF6</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>